.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.App > * {
  border: solid black 1px;
}

nav {
  grid-column: 1/-1;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  padding: 1vw;
}
section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
